.b9 {
  background: rgb(0, 66, 128);
  color: white;
  font-size: 300%;
}
.name{
  color: red;
  font-size: 100%;
}
.b15 {
  color: white;
  background: rgb(9, 0, 128);
  font-size: 100%;
}

.b10 {
  color: red;
  font-size: 100%;
}
.b11 {
  color: red;
  font-size: 100%;
}