h1 {
  text-align: center;
  color: blue;
  font-size: 300%;
}

.n19 {
  float: right;
  padding-right: 5px;
  padding-left: 5px;
  width: 700px;
  height: 450px;
}
.z1 {
  size: 30px;
  text-align: left;
  height: -1em;
}
.m1 {
  width: 500;
  height: 500;
}
